@import "../_common";

.main-contents {
    .alert {
        margin: 10px;
    }

    .user-info {
        dl {
            dt, dd {
                padding: 5px;
            }

            dd {
                form.external-login-form {
                    display: inline;
                }

                .avatar {
                    .__circle_box__(200px);

                    img {
                        width: 100%;
                        height: 100%;
                        animation: __fadein__opacity__ 3s ease 0s 1 normal;
                    }
                }
            }
        }
    }
}

#imageClipModal {
    padding-top: 30px;

    .clip-image {
        .__circle_box__(252px);

        margin: 0;
        padding: 0;
        border: 1px solid #ccc;

        img {
            margin: 0;
        }
    }

    .modal-content {
        .__modal-content__();

        text-align: center;
    }
}
