@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.main-contents {
    .alert {
        margin: 10px;
    }

    .user-info {
        dl {
            dt, dd {
                padding: 5px;
            }

            dt {

            }

            dd {
                form.external-login-form {
                    display: inline;
                }

                .avatar {
                    img {
                        width: 200px;
                        height: 200px;
                        animation: fadeIn 3s ease 0s 1 normal;
                    }
                }
            }
        }
    }
}