<!DOCTYPE html>
<html ng-app="ChatApp" ng-controller="RoomController as RoomCtrl" ng-strict-di>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title ng-bind="c.room.name + ' - ChatApp'"></title>
    @await Html.PartialAsync("_StylesPartial")
    <link rel="stylesheet" href="~/lib/angular-bootstrap/ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="~/css/room/main.css" />
</head>
<body>
    @await Html.PartialAsync("_NavbarPartial")
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    @await Html.PartialAsync("_ScriptsPartial")
    @await Html.PartialAsync("_RoomScriptsPartial")
    @RenderSection("scripts", required: false)
</body>
</html>
