<!DOCTYPE html>
<html ng-app="ChatApp" ng-controller="RoomController as RoomCtrl" ng-strict-di>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/favicon.ico" ng-href="../ChatRoomAvatar/Get/{{c.room.avatarId}}" />
    <title ng-bind="c.getUnreadMessageInfo() + c.room.name + ' - ChatApp'"></title>
    @await Html.PartialAsync("_StylesPartial")
    <link asp-append-version="true" rel="stylesheet" href="~/css/room/main.css" />
    <base href="@Url.Content("~/Room/")" />
</head>
<body>
    @await Html.PartialAsync("_NavbarPartial")
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    @await Html.PartialAsync("_ScriptsPartial")
    @await Html.PartialAsync("_RoomScriptsPartial")
    @RenderSection("scripts", required: false)
</body>
</html>
