@model ChatRoom

<form asp-area="" asp-controller="Room" asp-action="Create" class="form-horizontal" method="post">

    @await Html.PartialAsync("_Edit")

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}