<div class="col-sm-2 hidden-xs">
    <div class="media-list affix col-sm-2" style="padding-top:5px;">
        <a class="media" ng-repeat="r in c.rooms" ng-click="RoomCtrl.SelectRoom(r)">
            <div class="media-left media-middle">
                <span class="img-thumbnail">
                    <img class="img-rounded" ng-src="@Url.ChatRoomAvatar("/"){{r.id}}" width="40" height="40" />
                </span>
            </div>
            <div class="media-body">
                <div class="media-heading">
                    <p ng-bind="r.name"></p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="col-sm-8">
    <div class="row"
         style="border-bottom:1px solid #ccc; background: #fff; z-index:99; height:36px;">
        <ul class="list-inline" style="padding-top:5px;">
            <li ng-repeat="m in c.room.members">
                <span>
                    <img class="img-circle" width="20" height="20"
                         ng-src="@Url.UserAvatar("/"){{ m.id }}" />
                </span>
            </li>
        </ul>
    </div>
    <div class="row" id="chat-messages"
        chat-room="c.room"
        chat-room-change="RoomCtrl.ChangeRoom()"
        old-messages="RoomCtrl.GetOldmessages()">
        <div class="media-list">
            <div class="media" ng-repeat="m in c.room.messages">
                <div class="media-left media-middle">
                    <span>
                        <img class="img-circle" width="30" height="30"
                             ng-src="@Url.UserAvatar("/"){{ m.userId }}" />
                    </span>
                </div>
                <div class="media-body">
                    <div class="media-heading small">
                        <span>
                            <span ng-bind="m.id"></span>
                            <span ng-bind="m.userFirstName"></span>
                            <span ng-bind="m.userLastName"></span>
                        </span>
                        <span>
                            <time ng-bind="m.createdDate | date: 'yyyy/MM/dd HH:mm:ss'"></time>
                        </span>
                    </div>
                    <div marked="m.message"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="chat-form">
        <form>
            <textarea class="form-control"></textarea>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            function justMessageSize() {
                var cm = $('#chat-messages');
                var cf = $('#chat-form');
                cm.css({ 'overflow-y': 'scroll' });
                cm.height($(window).height() - cf.height() - cm.offset().top - 20);
            }

            justMessageSize();
            $(window).on('resize', justMessageSize);
        });
    </script>
    <environment names="Development">
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/marked/lib/marked.js"></script>
        <script src="~/lib/angular-marked/dist/angular-marked.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/lib/marked/marked.min.js"></script>
        <script src="~/lib/angular-marked/dist/angular-marked.min.js"></script>
    </environment>

    <script src="~/js/room/app.js"></script>
    <script src="~/js/room/directives.js"></script>
    <script src="~/js/room/services.js"></script>
    <script src="~/js/room/controllers.js"></script>
}