<div>
    <div chat-sidebar="{sm:3, xs:7}" chat-prefix="chat-sidebar">
        <div ng-include="'/sidebar/room.tmpl.html'"></div>
        <div ng-include="'/sidebar/member.tmpl.html'"></div>
    </div>
    <div class="col-sm-9 col-sm-offset-3" id="chat-room-main"
        chat-prefix="chat-messages"
        chat-room="c.room"
        chat-content=".media-list"
        chat-room-change="RoomCtrl.ChangeRoom()"
        old-messages="RoomCtrl.GetOldmessages()">
        <div class="row" id="chat-messages">
            <div ng-include="'/chat/messages.tmpl.html'"></div>
        </div>
        <div class="row" id="chat-messages-form"
            ng-style="{visibility: c.room.message ? 'visible' : 'hidden'}">
            <div ng-include="'/chat/post-form.tmpl.html'"></div>
        </div>
    </div>
</div>
@await Html.PartialAsync("NgTmpl/_Chat")
@await Html.PartialAsync("NgTmpl/_Sidebar")
@await Html.PartialAsync("NgTmpl/Modal/_Room")
@await Html.PartialAsync("NgTmpl/Modal/_Member")