<div>
    <div chat-sidebar="{sm:3, xs:7}" chat-prefix="chat-sidebar">
        <div ng-include="'templates/room/sidebar-item-room.html'"></div>
        <div ng-include="'templates/room/sidebar-item-member.html'"></div>
    </div>
    <div class="col-sm-9 col-sm-offset-3" id="chat-room-main"
        chat-prefix="chat-messages"
        chat-room="c.room"
        chat-room-change="RoomCtrl.ChangeRoom()"
        old-messages="RoomCtrl.GetOldmessages()">
        <div class="row" id="chat-messages">
            <div ng-include="'templates/room/chat-messages.html'"></div>
        </div>
        <div class="row" id="chat-messages-form" style="display:none;" ng-show="c.room.message != null">
            <div ng-include="'templates/room/chat-messages-form.html'"></div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_RoomScriptsPartial")
}