@import "../../node_modules/bootstrap/less/variables.less";

@keyframes __fadein__opacity__ {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes __border_link_hover_color_fade__ {
    0% { border-bottom-color: transparent; }
    100% { border-bottom-color: @link-hover-color; }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.__screen_sm__(@rules) {
    @media (min-width: @screen-sm-min) { @rules(); }
}
.__screen_md__(@rules) {
    @media (min-width: @screen-md-min) { @rules(); }
}
.__screen_lg__(@rules) {
    @media (min-width: @screen-lg-min) { @rules(); }
}

.__horizon_padding__(@pad) {
    padding-left: @pad;
    padding-right: @pad;
}

.__vertical_padding__(@pad) {
    padding-top: @pad;
    padding-bottom: @pad;
}

.__square_box__(@size) {
    display: inline-block;
    box-sizing: border-box;
    width: @size;
    height: @size;
    overflow: hidden;
}

.__circle_box__(@size) {
    .__square_box__(@size);
    border-radius: 50%;
}

.__modal-content__(@bgColor: #fff) {
    background-color: @bgColor;

    .modal-header {
        background-color: @bgColor;
        padding: 0 0 10px 10px;
    
        .modal-title {
            font-size: 1.4em;
        }
    }

    .modal-main {
        background-color: @bgColor;
        padding: 10px;
    }

    .modal-footer {
        background-color: @bgColor;
    }
}

.__loading_spin__(@size) {
    position: relative;
    display: inline-block;
    left: calc(~'50% - ' @size/2);
    width: @size;
    height: @size;
    border-radius: 50%;
    animation: spin 1s infinite linear;
    border-top-color: transparent;

    &:before,
    &:after {
      left: -2px;
      top: -2px;
      display: none;
      position: absolute;
      content: '';
    }
}

body,html,div {
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 7px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb, thumb {
        background: rgba(200, 200, 200, 0.5);
        border-radius: 10px;
    }
}

.modal-backdrop {
    background-color: transparent;
}