@keyframes __fadein__opacity__ {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes __border_link_hover_color_fade__ {
  0% {
    border-bottom-color: transparent;
  }
  100% {
    border-bottom-color: #23527c;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body,
html,
div {
  box-sizing: border-box;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
body thumb,
html thumb,
div thumb {
  background: rgba(200, 200, 200, 0.5);
  border-radius: 10px;
}
.modal-backdrop {
  background-color: transparent;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  body {
    padding-top: 40px;
  }
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.95);
  min-height: 38px;
}
@media (min-width: 768px) {
  .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar .navbar-brand,
  .navbar .navbar-nav li a,
  .navbar .navbar-link {
    margin: 0;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar .navbar-brand,
  .navbar .navbar-nav li {
    height: unset;
    border-bottom: 2px solid transparent;
    margin: 0;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-nav li:hover {
    animation: __border_link_hover_color_fade__ 0.8s ease 0s 1 normal;
    border-bottom-color: #23527c;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-nav li:hover,
  .navbar .navbar-brand:hover a,
  .navbar .navbar-nav li:hover a {
    color: #23527c;
  }
}
@media (min-width: 992px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.navbar .navbar-brand,
.navbar .navbar-nav,
.navbar .navbar-link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.navbar .navbar-brand,
.navbar .navbar-nav,
.navbar .navbar-link,
.navbar .navbar-brand li a,
.navbar .navbar-nav li a,
.navbar .navbar-link li a {
  color: #aaa;
}
