<div class="modal-body modal_room_edit_image">
    <div class="modal-header">
        <h3 class="modal-title">
            <span>ルームの画像編集</span>
            <a class="pull-right" ng-click="ctrl.close()">
                <i class="glyphicon glyphicon-remove-sign"></i>
            </a>
        </h3>
    </div>
    <div class="modal-main">
        <div>
            <span class="clip-image" chat-image-cliper c:ctrl="ctrl" c:assign="c" c:option="{zoomStep: 10, imageType: 'image/png'}">
                <img src="" />
            </span>
        </div>
        <div>
            <input type="range" ng-change="ctrl.changeRange()" ng-model="ctrl.c.range.val" min="{{ ctrl.c.range.min }}" max="{{ ctrl.c.range.max }}"
                tabindex="-1" />
        </div>
    </div>
    <div class="modal-footer" style="text-align: center;">
        <button class="btn btn-default" ng-click="ctrl.fileSelect()">ファイル選択</button>
        <button class="btn btn-default" ng-click="ctrl.upload()" ng-disabled="ctrl.disableUpload()">送信する</button>
    </div>
</div>