<div class="modal-header">
    <h3 class="modal-title">
        <span>ルームの詳細</span>
        <a class="pull-right" ng-click="ctrl.close()">
            <i class="glyphicon glyphicon-remove-sign"></i>
        </a>
    </h3>
</div>
<div class="modal-body">
    <div class="room-detail">
        <dl>
            <dt>ルーム名</dt>
            <dd><div class="name">{{ctrl.room.name}}</div></dd>
            <dt>ルーム説明</dt>
            <dd><div class="description">{{ctrl.room.description}}</div></dd>
            <dt>作成日</dt>
            <dd><div><time>{{ctrl.room.createdDate | date: 'yyyy/MM/dd HH:mm:ss'}}</time></div></dd>
            <dt>更新日</dt>
            <dd><div><time>{{ctrl.room.updatedDate | date: 'yyyy/MM/dd HH:mm:ss'}}</time></div></dd>
        </dl>
    </div>
</div>