<form name="CreateRoomForm" ng-submit="ctrl.doRoom()" novalidate>
    <div class="form-group">
        <label for="CreateRoomForm_room_name">
            <span>ルーム名</span>
        </label>
        <input type="text" name="name"
            id="CreateRoomForm_room_name"
            class="form-control"
            ng-model="ctrl.room.name"
            placeholder="ルーム名は必須です"
            required
            maxlength="30" />
    </div>
    <div class="form-group">
        <label for="CreateRoomForm_room_description">
            <span>ルーム説明</span>
        </label>
        <textarea name="description"
            id="CreateRoomForm_room_description"
            class="form-control"
            ng-model="ctrl.room.description"
            maxlength="255"
            placeholder="説明は255文字までで入力してください"
            rows="8"
            style="resize: vertical;"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default"
            ng-disabled="CreateRoomForm.$invalid || !CreateRoomForm.$dirty">{{ctrl.doRoomLabel}}する</button>
        <button type="button" class="btn btn-default" ng-click="ctrl.close()">キャンセル</button>
    </div>
</from>