<div class="modal-header">
    <h3 class="modal-title">
        <span>メンバーの追加</span>
        <a class="pull-right" ng-click="ctrl.close()">
            <i class="glyphicon glyphicon-remove-sign"></i>
        </a>
    </h3>
</div>
<div class="modal-body">
    <form class="form" name="AddmemberSearchForm" ng-submit="ctrl.searchAddMembers()">
        <div class="input-group">
            <input type="text" class="form-control"
                ng-model="ctrl.search"
                required
                minlength="3">
            <span class="input-group-btn">
                <button class="btn btn-default"
                    ng-disabled="AddmemberSearchForm.$invalid">検索</button>
            </span>
        </div>
    </div>
    <div style="padding:0 15px;">
        <div ng-include="'/templates/room/modal-members-list.html'"></div>
    </div>
</div>
