<div class="chat-sidebar-item chat-sidebar-item-members">
    <h4 class="title">メンバ</h4>
    <div class="media-list">
        <div class="media" ng-repeat="m in c.room.members">
            <div class="media-left">
                <img class="img-circle" width="20" height="20"
                        ng-src="/UserAvatar/Get/{{ m.id }}" />
            </div>
            <div class="media-body">
                <span ng-bind="m.firstName"></span>
                <span ng-bind="m.lastName"></span>
            </div>
        </div>
    </div>
</div>