<div class="chat-sidebar-item chat-sidebar-item-rooms">
    <h4 class="title">
        <span>ルーム</span>
        <span class="pull-right small" uib-dropdown dropdown-append-to-body>
            <a class="glyphicon glyphicon-align-justify toggle-tooltip"
                uib-dropdown-toggle></a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem">
                    <a href="javascript:void(0)">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>ルームの作成</span>
                    </a>
                </li>
            </ul>
        </span>
    </h4>
    <div class="media-list">
        <div class="media" ng-repeat="r in c.rooms"
            ng-class="{active: c.room == r}"
            ng-click="RoomCtrl.SelectRoom(r)">
            <div class="media-left media-middle">
                <span class="img-thumbnail">
                    <img class="img-rounded" ng-src="/ChatRoomAvatar/Get/{{r.id}}" width="30" height="30" />
                </span>
            </div>
            <div class="media-body">
                <div class="media-footer">
                    <span class="pull-right" uib-dropdown dropdown-append-to-body>
                        <a class="glyphicon glyphicon-option-horizontal toggle-tooltip"
                            uib-dropdown-toggle></a>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li role="menuitem">
                                <a href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                    <span>ルームの詳細</span>
                                </a>
                            </li>
                            <li role="menuitem" ng-show="r.isAdmin">
                                <a href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    <span>ルームの編集</span>
                                </a>
                            </li>
                        </ul>
                    </span>
                </div>
                <p ng-bind="r.name"></p>
            </div>
        </div>
    </div>
</div>