<div id="{{ctrl.selector}}-wrapper" class="affix">
    <div class="affix hidden-xs {{ctrl.sidebarColClass()}}" id="{{ctrl.selector}}">
        <div class="{{ctrl.selector}}-content">
            <ng-transclude></ng-transclude>
            <a class="hidden-sm hidden-lg hidden-md btn {{ctrl.selector}}-toggle {{ctrl.selector}}-close"
                ng-hide="!ctrl.isShowSidebar"
                ng-click="ctrl.toggleSidebar()">
                <i class="glyphicon glyphicon-menu-left"></i>
            </a>
        </div>
    </div>
    <a class="hidden-sm hidden-lg hidden-md btn {{ctrl.selector}}-toggle {{ctrl.selector}}-open"
        ng-hide="ctrl.isShowSidebar"
        ng-click="ctrl.toggleSidebar()">
        <i class="glyphicon glyphicon-menu-right"></i>
    </a>
</div>
