@model ForgotPasswordViewModel
@{
    ViewData["Title"] = Localizer["Forgot your password?"];
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal"
    onsubmit="if (this.dataset('submited')) return false; this.data.submited = true; return true;">
    <h4>@Localizer["Enter your {0}.", @Html.DisplayNameFor(m => m.Email)]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">@Localizer["Submit"]</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
