<script type="text/ng-template" id="/modal/member/list.tmpl.html">
    <div class="list-group">
        <div class="list-group-item" ng-repeat="m in ctrl.members">
            <div class="media">
                <div class="media-left media-middle">
                    <span>
                        <img class="img-circle" width="30" height="30"
                            ng-src="../UserAvatar/Get/{{ m.avatarId }}" />
                    </span>
                </div>
                <div class="media-body">
                    <div class="media-heading">{{m.email}}</div>
                    <div>
                        <span ng-bind="m.firstName"></span>
                        <span ng-bind="m.lastName"></span>
                    </div>
                </div>
                <div class="media-right media-middle">
                    <a class="btn btn-default" href="javascript:void(0)" ng-click="ctrl.doMember($index)"
                        tabindex="0">
                        <i class="glyphicon glyphicon-{{ctrl.icon}}"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/modal/member/add.tmpl.html">
    <div class="modal-body">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>メンバーの追加</span>
                <a class="pull-right" ng-click="ctrl.close()">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </a>
            </h3>
        </div>
        <div class="modal-main">
            <form class="form" name="AddmemberSearchForm" ng-submit="ctrl.searchAddMembers()">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="ctrl.search" required minlength="3">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-disabled="AddmemberSearchForm.$invalid">検索</button>
                    </span>
                </div>
            </form>
            <div>
                <div ng-include="'/modal/member/list.tmpl.html'"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/modal/member/remove.tmpl.html">
    <div class="modal-body">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>メンバーの削除</span>
                <a class="pull-right" ng-click="ctrl.close()">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </a>
            </h3>
        </div>
        <div class="modal-main" ng-include="'/modal/member/list.tmpl.html'"></div>
    </div>
</script>