<script type="text/ng-template" id="/modal/room/form.tmpl.html">
    <form name="CreateRoomForm" ng-submit="ctrl.doRoom()" novalidate>
        <div class="form-group">
            <label for="CreateRoomForm_room_name">
                <span>ルーム名</span>
            </label>
            <input type="text" name="name"
                id="CreateRoomForm_room_name"
                class="form-control"
                ng-model="ctrl.room.name"
                placeholder="ルーム名は必須です"
                required
                maxlength="30" />
        </div>
        <div class="form-group">
            <label for="CreateRoomForm_room_description">
                <span>ルーム説明</span>
            </label>
            <textarea name="description"
                id="CreateRoomForm_room_description"
                class="form-control"
                ng-model="ctrl.room.description"
                maxlength="255"
                placeholder="説明は255文字までで入力してください"
                rows="8"
                style="resize: vertical;"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default"
                ng-disabled="CreateRoomForm.$invalid || !CreateRoomForm.$dirty">{{ctrl.doRoomLabel}}する</button>
            <button type="button" class="btn btn-default" ng-click="ctrl.close()">キャンセル</button>
        </div>
    </from>
</script>

<script type="text/ng-template" id="/modal/room/create.tmpl.html">
    <div class="modal-body">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>ルームの作成</span>
                <a class="pull-right" ng-click="ctrl.close()">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </a>
            </h3>
        </div>
        <div class="modal-main" ng-include="'/modal/room/form.tmpl.html'"></div>
    </div>
</script>

<script type="text/ng-template" id="/modal/room/edit.tmpl.html">
    <div class="modal-body">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>ルームの編集</span>
                <a class="pull-right" ng-click="ctrl.close()">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </a>
            </h3>
        </div>
        <div class="modal-main" ng-include="'/modal/room/form.tmpl.html'"></div>
    </div>
</script>

<script type="text/ng-template" id="/modal/room/detail.tmpl.html">
    <div class="modal-body modal_room_detail">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>ルームの詳細</span>
                <a class="pull-right" ng-click="ctrl.close()">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </a>
            </h3>
        </div>
        <div class="modal-main">
            <dl>
                <dt>ルーム名</dt>
                <dd><div class="name">{{ctrl.room.name}}</div></dd>
                <dt>ルーム説明</dt>
                <dd><div class="description">{{ctrl.room.description}}</div></dd>
                <dt>作成日</dt>
                <dd><div><time>{{ctrl.room.createdDate | date: 'yyyy/MM/dd HH:mm:ss'}}</time></div></dd>
                <dt>更新日</dt>
                <dd><div><time>{{ctrl.room.updatedDate | date: 'yyyy/MM/dd HH:mm:ss'}}</time></div></dd>
            </dl>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/modal/room/edit-image.tmpl.html">
    <div class="modal-body modal_room_edit_image">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>ルームの画像編集</span>
                <a class="pull-right" ng-click="ctrl.close()">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </a>
            </h3>
        </div>
        <div class="modal-main">
            <div>
                <span class="clip-image" chat-image-cliper c:ctrl="ctrl" c:assign="c" c:option="{zoomStep: 10, imageType: 'image/png'}">
                    <img src="" />
                </span>
            </div>
            <div>
                <input type="range" ng-change="ctrl.changeRange()" ng-model="ctrl.c.range.val" min="{{ ctrl.c.range.min }}" max="{{ ctrl.c.range.max }}"
                    tabindex="-1" />
            </div>
        </div>
        <div class="modal-footer" style="text-align: center;">
            <button class="btn btn-default" ng-click="ctrl.fileSelect()">ファイル選択</button>
            <button class="btn btn-default" ng-click="ctrl.upload()" ng-disabled="ctrl.disableUpload()">送信する</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/modal/room/delete-confirm.tmpl.html">
    <div class="modal-body">
        <div class="modal-header">
            <h5 class="modal-title text-center">
                <span>ルームのを削除</span>
            </h5>
        </div>
        <div class="modal-main">
            <p>{{ctrl.room.name}}を削除します？</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="ctrl.ok()">はい</button>
            <button type="button" class="btn btn-default" ng-click="ctrl.close()">いいえ</button>
        </div>
    </div>
</script>