#chat-messages::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
#chat-messages::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
.message-list .message-item {
  margin: 0;
  padding: 10px;
}
.message-list .message-item .message-body img {
  width: 90%;
}
