body {
  overflow: hidden;
}
li[role="menuitem"] {
  cursor: pointer;
}
@keyframes __fadein__opacity__ {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes __border_link_hover_color_fade__ {
  0% {
    border-bottom-color: transparent;
  }
  100% {
    border-bottom-color: #23527c;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body,
html,
div {
  box-sizing: border-box;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
body thumb,
html thumb,
div thumb {
  background: rgba(200, 200, 200, 0.5);
  border-radius: 10px;
}
.modal-backdrop {
  background-color: transparent;
}
#chat-sidebar-wrapper {
  height: calc(100vh - 50px);
  padding-right: 0;
  z-index: 1000;
}
#chat-sidebar-wrapper .chat-sidebar-toggle {
  display: inline-block;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 50%;
  top: 50%;
  display: block;
  position: absolute;
  margin-top: -42.5px;
  color: #ccc;
  font-size: 1.5em;
}
#chat-sidebar-wrapper .chat-sidebar-toggle.chat-sidebar-open {
  left: 0;
  margin-left: -17.5px;
}
#chat-sidebar-wrapper .chat-sidebar-toggle.chat-sidebar-close {
  right: 0;
}
#chat-sidebar-wrapper #chat-sidebar {
  padding: 0 0 0 10px;
  background: #fff;
  left: 0;
  border-right: 1px solid #eee;
  font-size: 0.8em;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-content {
  padding-bottom: 10px;
  padding-right: 8px;
  background: #fff;
  padding-left: 10px;
  overflow-y: auto;
  height: calc(100vh - 50px);
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-content .toggle-tooltip {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  opacity: 0.6;
  color: #666;
  text-decoration: none;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-content .toggle-tooltip:hover {
  opacity: 1;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-content .media-list .toggle-tooltip {
  opacity: 0.4;
  visibility: hidden;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-content .media-list .toggle-tooltip:hover {
  opacity: 0.8;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-content .media-list .media {
  padding: 3px 2px;
  margin-top: 2px;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media {
  margin: 0;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media .media-left,
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media .media-body {
  cursor: pointer;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media p {
  min-height: 30px;
  margin-bottom: 0;
  word-break: break-all;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media.active {
  background: rgba(220, 220, 220, 0.2);
  cursor: default;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media.active .toggle-tooltip {
  opacity: 1;
  visibility: visible;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media.active .toggle-tooltip:hover {
  opacity: 0.8;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media .room-avatar-thumbnail {
  position: relative;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media .room-avatar-thumbnail .has-message-mark {
  position: absolute;
  color: orange;
  left: 2px;
  top: 2.5px;
  padding: 0;
  line-height: 1.1;
  border-radius: 2px 0 0 0;
  overflow: hidden;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media .room-avatar-thumbnail .has-message-mark:after {
  content: "\025e4";
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-members .media-body {
  vertical-align: middle;
}
.modal-content {
  background-color: #fff;
}
.modal-content .modal-header {
  background-color: #fff;
  padding: 0 0 10px 10px;
}
.modal-content .modal-header .modal-title {
  font-size: 1.4em;
}
.modal-content .modal-main {
  background-color: #fff;
  padding: 10px;
}
.modal-content .modal-footer {
  background-color: #fff;
}
.modal_room_detail div {
  padding: 10px;
}
.modal_room_detail .description {
  min-height: 5em;
  white-space: pre-wrap;
}
.modal_room_edit_image {
  text-align: center;
}
.modal_room_edit_image [chat-image-cliper] {
  display: inline-block;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#chat-messages .loading {
  border: 2px solid #09f;
  opacity: 0.5;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  left: calc(50% -  10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  border-top-color: transparent;
}
#chat-messages .loading:before,
#chat-messages .loading:after {
  left: -2px;
  top: -2px;
  display: none;
  position: absolute;
  content: '';
}
#chat-messages .message-list .message-item {
  margin: 0;
  padding: 10px 20px;
}
#chat-messages .message-list .message-item .message-body {
  word-break: break-word;
  padding: 10px;
}
#chat-messages .message-list .message-item .message-body .chat-img-loading {
  height: 300px;
  opacity: 0;
}
#chat-messages .message-list .message-item .message-body img {
  max-width: 100%;
  max-height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
}
#chat-messages-form {
  position: relative;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}
#chat-messages-form textarea {
  width: calc(100% - 18px);
  max-width: calc(100% - 18px);
  resize: none;
}
#chat-messages-form button {
  position: absolute;
  top: 10px;
  opacity: 1;
  right: 0;
  height: calc(100% - 10px);
  font-size: 0.8em;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 0 5px 5px 0;
}
