@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
*::-webkit-scrollbar-thumb,
* thumb {
  background: rgba(200, 200, 200, 0.5);
  border-radius: 10px;
}
body {
  overflow: hidden;
}
#chat-sidebar-wrapper {
  height: calc(100vh - 50px);
  z-index: 1000;
}
#chat-sidebar-wrapper .chat-sidebar-toggle {
  top: 50%;
  display: block;
  position: absolute;
  margin-top: -42.5px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: #ccc;
  font-size: 1.5em;
}
#chat-sidebar-wrapper .chat-sidebar-toggle.chat-sidebar-open {
  left: 0;
  margin-left: -17.5px;
}
#chat-sidebar-wrapper .chat-sidebar-toggle.chat-sidebar-close {
  right: 0;
}
#chat-sidebar-wrapper #chat-sidebar {
  padding: 0 10px 0 10px;
  background: #fff;
  left: 0;
  border-right: 1px solid #eee;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-content {
  padding-bottom: 10px;
  background: #fff;
  padding-left: 10px;
  overflow-y: auto;
  height: calc(100vh - 50px);
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-content .toggle-tooltip {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  opacity: 0.6;
  visibility: hidden;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-content .toggle-tooltip:hover {
  opacity: 1;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-content .media {
  padding: 3px;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media {
  margin: 0;
  opacity: 0.7;
  cursor: pointer;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media.active {
  opacity: 1;
  cursor: default;
}
#chat-sidebar-wrapper #chat-sidebar .chat-sidebar-item-rooms .media.active .toggle-tooltip {
  visibility: visible;
}
#chat-messages .message-list .message-item {
  margin: 0;
  padding: 10px 20px;
}
#chat-messages .message-list .message-item .message-body {
  word-break: break-word;
  padding: 10px;
}
#chat-messages .message-list .message-item .message-body img {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  animation: fadeIn 1s ease 0s 1 normal;
}
#chat-messages-form {
  position: relative;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}
#chat-messages-form textarea {
  width: 100%;
  max-width: 100%;
  height: 2.5em;
  resize: none;
}
#chat-messages-form button {
  position: absolute;
  bottom: -5px;
  opacity: 1;
  right: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
