@keyframes __fadein__opacity__ {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes __border_link_hover_color_fade__ {
  0% {
    border-bottom-color: transparent;
  }
  100% {
    border-bottom-color: #23527c;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body,
html,
div {
  box-sizing: border-box;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
body thumb,
html thumb,
div thumb {
  background: rgba(200, 200, 200, 0.5);
  border-radius: 10px;
}
.modal-backdrop {
  background-color: transparent;
}
.main-contents .alert {
  margin: 10px;
}
.main-contents .user-info dl dt,
.main-contents .user-info dl dd {
  padding: 5px;
}
.main-contents .user-info dl dd form.external-login-form {
  display: inline;
}
.main-contents .user-info dl dd .avatar {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.main-contents .user-info dl dd .avatar img {
  width: 100%;
  height: 100%;
  animation: __fadein__opacity__ 3s ease 0s 1 normal;
}
#imageClipModal {
  padding-top: 30px;
}
#imageClipModal .clip-image {
  display: inline-block;
  box-sizing: border-box;
  width: 252px;
  height: 252px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
}
#imageClipModal .clip-image img {
  margin: 0;
}
#imageClipModal .modal-content {
  background-color: #fff;
  text-align: center;
}
#imageClipModal .modal-content .modal-header {
  background-color: #fff;
  padding: 0 0 10px 10px;
}
#imageClipModal .modal-content .modal-header .modal-title {
  font-size: 1.4em;
}
#imageClipModal .modal-content .modal-main {
  background-color: #fff;
  padding: 10px;
}
#imageClipModal .modal-content .modal-footer {
  background-color: #fff;
}
