<script type="text/ng-template" id="/chat/messages.tmpl.html">
    <div class="media-list message-list">
        <div class="media message-item" ng-repeat="m in c.room.messages">
            <div class="media-left">
                <span>
                    <img class="img-circle" width="40" height="40"
                        ng-src="../UserAvatar/Get/{{ m.avatarId }}" />
                </span>
            </div>
            <div class="media-body message-body">
                <div class="media-heading small">
                    <span>
                        <span ng-bind="m.userFirstName"></span>
                        <span ng-bind="m.userLastName"></span>
                    </span>
                    <span>
                        <time ng-bind="m.createdDate | date: 'yyyy/MM/dd HH:mm:ss'"></time>
                    </span>
                </div>
                <div marked="m.message" compile="true"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/chat/post-form.tmpl.html">
    <form name="chatForm" novalidate ng-submit="RoomCtrl.PostMessage()">
        <textarea class="form-control" tabindex="1"
            ng-maxlength="300"
            ng-model="c.room.message.message"
            ng-trim="false"
            ng-required="true"
            ng-pattern="/[^\s]+/"
            chat-autoresize
            rows="1"
            style="max-height:50%;overflow:hidden;">
        </textarea>
        <button class="btn btn-default" tabindex="2"
            ng-disabled="chatForm.$invalid || c.room.message.isPosting"
            ng-show="chatForm.$valid && !c.room.message.isPosting">
            <i class="glyphicon glyphicon-send"></i>
        </button>
    </form>
</script>