@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li><a asp-area="" asp-controller="Room" asp-action="Index">ROOM</a></li>
    }
    <li><a asp-area="" asp-controller="Home" asp-action="About">ABOUT</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a></li>
</ul>