@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li><a asp-area="" asp-controller="Room" asp-action="Index">ROOM</a></li>
    }
</ul>
